/*
 * DT overlay for nRF52840 DK:
 * - Keep console on UART0 (J-Link VirtualCOM, not USB)
 * - Add CDC ACM uart node to the USB device controller
 */

/ {
    chosen {
        zephyr,console   = &uart0;
        zephyr,shell-uart = &uart0;
    };
};

&usbd {
    cdc_acm_uart0: cdc_acm_uart0 {
        compatible = "zephyr,cdc-acm-uart";
    };
};
